/* 
自定义全局样式
scss类名，可自定义
*/

$brand-color: #357F8A;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1220px;
$breakpoint-mini-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);
$sidebar-bg: #ff5a85;
$sidebar-color: #ffffff;
$sidebar-active-color: #ffd04b;
$sidebar-active-bg: #bc3156;
$header-color: #333333;
$header-bread-active-color: #ffffff;
$header-bg: #ffffff;
$main-bg: #f0f0f0;
$common-color: #ffffff;/*左侧导航icon颜色*/

/* 自定义全局样式，通过color:var(--main-bg-color)使用 */

:root {
    --main-bg-color: coral;
    --main-txt-color: blue;
    --main-padding: 15px;
}

/* 定义的工具样式 */
@import './elements/body.scss';
@import './components/util.scss';